server {
  listen 80;
  listen [::]:80;
  server_name ${MAIN_HOSTNAME};
  server_tokens off;
  location /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }
  location / {
      return 301 https://${MAIN_HOSTNAME}$request_uri;
  }
}
